.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 150px;
    height: 250px;
    margin-top: 200px;
}

.imag {
    width: 500px;
}

.container h1 {
    font-size: 35px;
    color: white;
}

.marcado {
    color:  gray;
    padding: 10px;
    font-size: 55px;
    font-weight: 600;
}

.servicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 250px;
    margin-top: 200px;
}

.web {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    box-shadow: 0px 0px 5px white;
    border-radius: 20px;
    color: white;
  }

.web h1 {
    
    background-color:  #06063f;
    width: 300px;
    font-size: 32px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 5px white;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
   
}



.web button {
    padding: 20px;
    background-color:  #06063f;;
    width: 300px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
}


.sitio {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    color: white;
    box-shadow: 0px 0px 5px white;
    border-radius: 20px;


  }


.sitio h1 {
    background-color:  #06063f;;
    width: 300px;
    font-size: 32px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:  white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
   
}


.sitio button {
    padding: 20px;
    background-color:  #06063f;;
    box-shadow: 0px 0px 5px black;
    width: 300px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
}


.ecommerce {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    box-shadow: 0px 0px 5px white;
    border-radius: 20px;
    color: white;

  }


.ecommerce h1 {
    background-color:  #06063f;;
    padding: 20px;
    width: 300px;
    height: 70px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
   
}


.ecommerce button {
    padding: 20px;
    background-color:  #06063f;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
    width: 300px;
    color: white;
}

.lista {
    list-style-type: none; /* Elimina los estilos de lista predeterminados */
    padding: 0; /* Elimina el padding predeterminado de la lista */
    width: 100%; /* Ajusta el ancho de la lista al 100% del contenedor */
  }
  
  .lista li {
    display: flex;
    justify-content: space-between; /* Espacio entre el ícono y el texto */
    align-items: center; /* Alinea verticalmente los elementos */
    padding: 12px 0; /* Espaciado entre cada elemento de lista */
  }
  
  .item {
    display: flex;
    flex-direction: row; 
    padding: 14px 30px;
  }
  
  .check {
    width: 24px; /* Ajusta el ancho de la imagen según sea necesario */
    height: 24px; /* Ajusta la altura de la imagen según sea necesario */
    margin-right: 10px; /* Espacio entre el ícono y el texto */
  }
  
 @media screen and (max-width: 1400px) {

    .container {
        padding: 50px;
        margin-bottom: 0px;
    }

    .servicios {
        width: 100%;
        gap: 70px;
    }

    .landing h1 button{
        width: 20%;
    }

    .web h1 button  {
        width: 20%;
    }

    .sitio  h1 button{
        width: 20%;
    }

    .ecommerce h1 button{
        width: 20%;
    }
 }


  @media  screen and (max-width: 768px) {

    .contenedor {
        margin-top: 200px;
    }


    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 600px;
        height: 700px;
        width: 100%;
    }

    .imag {
        margin-top: 200px;
        width: 50%;
    }

    .container h1 {
        width: 400px;
        margin-top: 50px;
    }

    .servicios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        width: 100%;
        gap: 20px;

    }
  }
 
  @media screen and (max-width: 450px) {

    .contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }


    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
    }
    .container h1 {
        margin: 10px;
        padding: 10px;
    }
}