.quien {
    width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:  #06063f;;
    color: white;
    padding: 100px 20px;
    gap: 55px;
}

.quiensoy {
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quiensoy h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.quiensoy p {
    width: 800px;
    justify-content: center;
    font-size: 22px;
}

.imagen {
    width: 200px;

}

.agustin {
    border-radius: 100%;
    box-shadow: 0px 0px 10px black;
}


@media screen and (max-width: 760px) {

    .quiensoy p {
        width: 100%;
        padding-bottom: 40px;
    }

}