
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    max-width: 1260px; /* Ajusta este valor según el ancho máximo deseado */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 0 20px; 
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background: linear-gradient(45deg, #001F54, #02235c);
    color: white;
}
